<div class="alpha eight columns">
  <%= f.field_container :visible do %>
    <%= f.label :visible, t(:visible) %><br />
    <%= f.check_box :visible %>
    <%= f.error_message_on :visible %>
  <% end %>
</div>